---
import "../styles/errors.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>404: Not Found</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#f5f5fa]">
    <div class="error-wrapper p-0.5 rounded-xl">
      <div class="error-container bg-white rounded-xl p-4">
        <h1 class="error-code cl-black-blue">404</h1>
        <h1 class="text-[24px] font-bold cl-black-blue mb-3">Page Not Found</h1>
        <p class="error-description cl-global-gray60">
          The page you are looking for could not be found.
        </p>

        <div class="error-actions mb-2 flex justify-center flex-wrap gap-2">
          <a class="btn btn-action fw-normal" href="https://webike.vn">
            <span> Back To Home</span>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
