---
import { Image } from "astro:assets";
---

<div class="bg-white p-6 rounded-xl border border-gray-200" id="about">
  <h4 class="text-xl font-bold mb-4 border-b pb-2">Về Tác Giả</h4>
  <a href="/about" aria-label="About Linh chàn">
    <Image
      src="/img/about.png"
      alt="Ảnh tác giả"
      class="rounded-full w-24 h-24 mx-auto mb-4 object-cover border-4 border-gray-200"
      width={96}
      height={96}
    />
  </a>
  <p class="text-sm text-gray-600 text-center">
    Chào! Tôi là Linh chàn, một Dev yêu thích sự tối giản và hiệu suất. Cùng tôi
    khám phá thế giới code nhé.
  </p>
</div>
